@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Ultra&display=swap');




@media (min-width: 400px) {

  /* General */

  body {
    background-color: skyblue;
    font-family: 'Ultra';
    font-size: 20px;
  }

  #modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    font-size: 25px;
    /* display: none; */
    font-family: 'Caveat Brush'
  }

  #modal-textbox {
    background-color: white;
    border-radius: 2px;
    width: 80%;
    margin: 25px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-color: rgb(176,224,250);
    text-align: left;
  }

  #modal-textbox h1 {
    text-align: center;

  }

  #modal-textbox p {
    padding: 0 15px;
    margin-top: 0;
  }

  #modal-textbox h3 {
    margin-bottom: 7.5px;
    font-size: 3s5px;
    text-align: center;
  }


  .container {
    text-align: center;
    position: relative;
  }

  #joke-container {
    margin: 20px auto 0 auto;
    /* height: 100px; */
    width: 90%;
    text-align: center;
    font-family: 'Caveat Brush';
    font-size: 40px;
    background-color: rgb(255, 255, 255, .2)

  }

  /* User input styling */
  .user-input-and-buttons {
    display: flex;
    justify-content: center;
  }
  #first-name {
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width:30%;
    font-style: 'Ultra';
  }

  #last-name {
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width:30%;
    font-style: 'Ultra';
  }

  .norrized-button {
    color: white;
    background-color: red;
    border-radius: 2px;
    font-size: 20px;
    width:30%;
  }

  .another-joke {
    background-color: navy;
    border-radius: 2px;
  }

  /* Carousel Styling */
  .carousel-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    /* margin-top: 220px; */



  }



  img {
    width: 90%;
    /* margin: 0 auto; */
    /* margin-left: 40px; */
    /* height: 200px; */
    /* object-fit: contain; */

  }


   .carousel-images {
    margin-top: 1%;
    /* width: 30%; */
    /* text-align: center; */
    /* height: 50%; */

  }


  .buttons {
    /* width: 30%; */
    /* height: 30%;  */
    text-align: center;
    border-radius: 2px;
    font-size: 12.5px;
  }

  .next-button {
    /* margin-left: 10px;
    /* width: 60px; */
    /* margin-right: 10px; */
    /* padding: 10px; */
  }

  .previous-button {
    /* width: 60px; */
    /* margin-right: 15px;
    margin-left: 5px; */
    /* padding: 10px; */
  }


}

@media (min-width: 600px;) {



  img {
    width: 30%;
  }

  .carousel-images {
   margin-top: 1%;
   width: 500px;
   /* text-align: center; */
   /* height: 50%; */

 }

}
