/* General */

.container {
  text-align: center;
}

#joke-container {
  margin: 20px auto 0 auto;
  height: 100px;
  width: 90%;
  text-align: center;
}

/* User input styling */
.user-input-and-buttons {
  display: flex;
  justify-content: center;
}
.norrized-button {
  color: white;
  background-color: red;
}

.another-joke {
  background-color: navy;
}

/* Carousel Styling */
.carousel-container {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 75px;

}



img {
  width: 250px;
  /* margin: 0 auto; */
  /* margin-left: 40px; */
  /* height: 200px; */
  /* object-fit: contain; */

}


 .carousel-images {
  margin-top: 1%;
  /* width: 50%; */
  /* text-align: center; */
  /* height: 50%; */
  margin: 0 auto;
}


.buttons {
  /* width: 30%;
  height: 30%; */
  text-align: center;
}

.next-button {
  margin-left: 20px;
  width: 60px;
}

.previous-button {
  width: 60px;
  margin-right: 20px;
}
